## Veri Bilimi için İstatistik

### Örnek Teorisi

In [1]:
import numpy as np

In [2]:
populasyon = np.random.randint(0,80,10000)

In [3]:
populasyon[0:10]

array([20, 54, 63, 60, 10, 35, 79, 28, 73, 37])

In [9]:
#örneklem çekimi
np.random.seed(115)
orneklem = np.random.choice(a = populasyon, size =100)
orneklem[0:10]

array([62, 56, 20, 49, 57,  7,  5, 36, 22, 58])

In [10]:
orneklem.mean()

36.72

In [11]:
populasyon.mean()

38.9689

In [ ]:
# örneklem dağılımı

In [ ]:
np.random.seed(115)
orneklem1 = np.random.choice(a = populasyon, size =100)
orneklem2 = np.random.choice(a = populasyon, size =100)
orneklem3 = np.random.choice(a = populasyon, size =100)
orneklem4 = np.random.choice(a = populasyon, size =100)
orneklem5 = np.random.choice(a = populasyon, size =100)
orneklem6 = np.random.choice(a = populasyon, size =100)
orneklem7 = np.random.choice(a = populasyon, size =100)
orneklem8 = np.random.choice(a = populasyon, size =100)
orneklem9 = np.random.choice(a = populasyon, size =100)
orneklem10 = np.random.choice(a = populasyon, size =100)

### betimsel istatikler

In [12]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [15]:
!pip install researchpy
import researchpy as rp

Requirement already satisfied: researchpy in d:\python\lib\site-packages (0.2.3)
Requirement already satisfied: scipy in d:\python\lib\site-packages (from researchpy) (1.4.1)
Requirement already satisfied: statsmodels in d:\python\lib\site-packages (from researchpy) (0.11.0)
Requirement already satisfied: pandas in d:\python\lib\site-packages (from researchpy) (1.0.1)
Requirement already satisfied: numpy in d:\python\lib\site-packages (from researchpy) (1.18.1)
Requirement already satisfied: patsy>=0.5 in d:\python\lib\site-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\python\lib\site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in d:\python\lib\site-packages (from pandas->researchpy) (2019.3)
Requirement already satisfied: six in d:\python\lib\site-packages (from patsy>=0.5->statsmodels->researchpy) (1.14.0)

In [16]:
rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [17]:
rp.summary_cat(df[["sex","smoker","day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [18]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [19]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

### İş Uygulaması: Fiyat Strategjisi Karar Destek

In [20]:
import numpy as np
fiyatlar = np.random.randint(10,110,1000)

In [21]:
fiyatlar.mean()

59.099

In [23]:
import statsmodels.stats.api as sms

In [25]:
# yüzde 5 gğven aralığı ile
sms.DescrStatsW(fiyatlar).tconfint_mean()

(57.27913246141933, 60.91886753858066)

### Olasılık Dağılımları

#### Bernouli Dağılımı

In [26]:
from scipy.stats import bernoulli

In [27]:
p = 0.6

In [30]:
rv = bernoulli(p)
rv.pmf(k = 1) #probablity mass funnction

0.6

### İş Uygulamamsı

#### Binom

In [31]:
from scipy.stats import binom

In [32]:
p = 0.01
n = 100
rv = binom(n, p)
print(rv.pmf(1))
print(rv.pmf(5))
print(rv.pmf(10))

0.36972963764971983
0.0028977871237616114
7.006035693977161e-08

#### Poisson Dağılımı

In [33]:
from scipy.stats import poisson

In [34]:
lambda_ = 0.1

In [35]:
rv = poisson(mu = lambda_)
print(rv.pmf(k= 0))

0.9048374180359595

In [36]:
print(rv.pmf(k= 3))

0.00015080623633932676

### Normal Dağılım

In [37]:
from scipy.stats import norm

In [38]:
1-norm.cdf(90,80,5) #90dan fazla olma olasılığı

0.02275013194817921

In [40]:
1-norm.cdf(70,80,5) #70den falza olma olasılığı

0.9772498680518208

In [41]:
norm.cdf(90,80,5)- norm.cdf(85,80,5)  #85 ile 90 arasında olması

0.13590512198327787